<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1>
                <a href="/">
                    <span class="title-with-svg">
                        <img
                            src="{{ site.baseurl }}/public/favicon.svg"
                            width="70"
                            height="70"
                            alt="SVG Icon"
                            style="margin: 0px"
                        />
                        {{ site.title }}
                    </span>
                </a>
            </h1>
        </div>

        <nav class="sidebar-nav">
            {% comment %} The code below dynamically generates a sidebar nav of
            pages with `layout: page` in the front-matter. See readme for usage.
            {% endcomment %} {% assign pages_list = site.pages | sort:
            'priority' %} {% for node in pages_list %} {% if node.title != null
            %} {% if node.layout == "page" %}
            <a
                class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
                href="{{ site.baseurl }}{{ node.url }}"
                >{{ node.title }}</a
            >
            {% endif %} {% endif %} {% endfor %}

            <a
                class="sidebar-nav-item"
                style="opacity: 0.5"
                href="{{ site.github.repo }}"
                target="_blank"
                >Currently v{{ site.version }} 🔗</a
            >
        </nav>
    </div>
</div>
