<div
    class="quran-verse"
    id="quran-verse-{{ include.surah }}-{{ include.ayah }}"
>
    <blockquote>
        <p id="verse-text-{{ include.surah }}-{{ include.ayah }}">Loading...</p>
        <footer>
            <cite>
                <a
                    href="https://quran.com/{{ include.surah }}:{{ include.ayah }}"
                    target="_blank"
                >
                    Surah {{ include.surah }}, Ayah {{ include.ayah }}
                </a>
            </cite>
        </footer>
    </blockquote>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const ayah = "{{ include.ayah }}";
        const surah = "{{ include.surah }}";
        const verseTextElement = document.getElementById(
            `verse-text-${surah}-${ayah}`,
        );

        function fetchAyah(surah, ayah) {
            return fetch(
                `https://api.quran.com/api/v4/verses/by_key/${surah}:${ayah}?language=en&words=false&translations=131`,
            )
                .then((response) => response.json())
                .then((data) => {
                    if (
                        data.verse &&
                        data.verse.translations &&
                        data.verse.translations.length > 0
                    ) {
                        return data.verse.translations[0].text;
                    } else {
                        return `Translation not found for Ayah ${ayah}.`;
                    }
                })
                .catch((error) => {
                    console.error(`Error fetching Ayah ${ayah}:`, error);
                    return `Error loading Ayah ${ayah}.`;
                });
        }

        function updateVersesText(surah, ayah) {
            // Check if ayah is a range
            if (ayah.includes("-")) {
                const [startAyah, endAyah] = ayah.split("-");
                let ayahPromises = [];

                // Loop through the range and fetch each Ayah
                for (let i = parseInt(startAyah); i <= parseInt(endAyah); i++) {
                    ayahPromises.push(fetchAyah(surah, i));
                }

                // Wait for all Ayahs to be fetched
                Promise.all(ayahPromises).then((verses) => {
                    verseTextElement.innerHTML = verses.join("<br><br>");
                });
            } else {
                // Single Ayah case
                fetchAyah(surah, ayah).then((verse) => {
                    verseTextElement.innerHTML = verse;
                });
            }
        }

        // Start fetching the verse(s)
        setTimeout(() => {
            updateVersesText(surah, ayah);
        }, 250); // 250ms delay
    });
</script>
