---
layout: default
---

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <h3>Verse in Question</h3>
    {% include verse.html surah=page.surah ayah=page.ayah %}
    <h3>The Claim</h3>
    {{ page.claim | markdownify }}
    <a href="/quran/facts">How do we Prove a Scientific Miracle?</a>
    {% include overview_table.html %}
    <!-- <span class="post-date">{{ page.date | date_to_string }}</span> -->
    {{ content }}
    <!-- <hr /> -->
    {% include related-links.html %}
</div>
